.jw-animated-box {

	&__front,
	&__back {
		padding: 10px;
	}

	&__icon {
		.jw-animated-box-icon-inner {
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}

		i {
			font-size: 40px;
			color: white;
		}
	}

	.jw-animated-box__title {
		color: white;
		font-size: 23px;
		margin: 0 0 10px 0;
	}

	.jw-animated-box__subtitle {
		color: white;
		font-size: 18px;
		margin: 0 0 10px 0;
	}

	.jw-animated-box__description {
		color: white;
		font-size: 13px;
		margin: 0 0 10px 0;
	}

	.jw-animated-box__button {

		.jw-animated-box__button-text {
			margin: 0 3px;
		}

		.jw-animated-box__button-icon{
			color: white;

		}
	}
}
