.jw-team-member {

	.jw-team-member__cover {
		&:before {
			background-color: rgba(84, 89, 95, 0.5);
		}

		&:after {
			border-top-color: rgba(84, 89, 95, 0.5);
		    border-right-color: transparent;
		    border-bottom-color: transparent;
		    border-left-color: transparent;
		}
	}

	.jw-team-member__name {
		font-size: 20px;
		color: black;
		margin: 10px 0;
	}

	.jw-team-member__position {
		text-align: center;
		margin: 5px 0;
		font-size: 14px;
		color: #6ec1e4;
	}

	.jw-team-member__desc {
		text-align: center;
		font-size: 16px;
		color: #54595f;
		margin: 10px 0;
	}

	.jw-team-member__socials {
		margin: 10px 0;
	}

	.jw-team-member__socials-icon {
		font-size: 18px;
		color: #6ec1e4;

		.inner {
			width: 25px;
			height: 25px;
			border-radius: 50%;
		}
	}

	.jw-team-member__socials-icon {
		.inner {
			margin: 5px;
		}
	}
}
