.jet-widgets {
	select {
		appearance: none;
		width: 100%;
	}
}

.jet-widgets-icon {
	display: inline-block;
	line-height: 1;
	text-align: center;

	svg {
		display: block;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}
