.jw-banner {
	&.jw-effect-lily {
		.jw-banner__img {
			transform: translate3d(40px, 0, 0);
		}
	}
	&.jw-effect-roxy {
		.jw-banner__img {
			transform: translate3d(50px, 0, 0);
		}
	}
}

.pricing-feature {
	.item-bullet {
		margin-left: 7px;
		margin-right: 0;
	}
}

.slick-slide {
	float: right;
}

.elementor-slick-slider {
	.slick-prev {
		right: -25px;
		left: auto;
	}

	.slick-next {
		left: -25px;
		right: auto;
	}

	.slick-arrows-inside {
		.slick-prev {
			right: 0;
			left: auto;
		}

		.slick-next {
			left: 0;
			right: auto;
		}
	}
}